@model IEnumerable<LTIWEBAPPDEMO.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2> <a asp-action="Create">Create Vehicle</a></h2>

<p>
  @*  <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vehicle Name
               @* @Html.DisplayNameFor(model => model.VehicleName)*@
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button> <a asp-action="Create">Create Vehicle</a></button> <br /> <br />
<button><a href="VehicleType"> <span class="hide-menu">Create Vehicle Type</span></a></button>
